.change-password-container{
    margin-top: 10px;
    margin-left: 200px;
    .change-password-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .custom-input-password{
            display:flex;
            position: relative;
            i{
                position: absolute;
                right: 8px;
                top: 10px;
                cursor: pointer;
            }
        }
        .button-submit{
            width: 300px;
        }
    }
}