.mange-slide-container{
    .preview-img{
        .preview-image{
            width: 100%;
            height:200px;
            background-color: white;
            border: 1px solid lightgray;
            background: center center no-repeat;
            background-size: contain;
            cursor: pointer;
        }
        .label-upload{
            padding: 5px;
            border-radius: 3px;
            background: #ddd;
            cursor: pointer;
        
            &:hover{
                opacity: 0.8;
            }
        }
    }
}